/* 768px, 992px, 1200px */
.cambio_color {
    min-height: 50px;
}

@media screen and (max-width: 1400px) {
    .cambio_color {
        background-color: #3800a0;
        color: #fff;
    }
}
@media screen and (max-width: 992px) {
    .cambio_color {
        background-color: #ff1e1e;
    }
}
@media screen and (max-width: 768px) {
    .cambio_color {
        background-color: #48e;
    }
}
/* <!-- punto 2  --> */
.container {
    min-height: 150px;
    background-color: #444;
    color: #fff;
}
@media screen and (max-width: 1400px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 992px) {
    .container {
        display: flex;
        justify-content: left;
        align-items: start;
    }
}
@media screen and (max-width: 768px) {
    .container {
        display: flex;
        justify-content: right;
        align-items: end;
    }
}

/* <!-- punto 3  --> */
.container-mobile_first {
    background-color: #c7c7c7;
}

.nav_mobile {
    padding: 12px;
}

.nav_mobile > ul > li {
    font-size: 1.3rem;
}

nav.nav_mobile h2 {
    text-align: center;
}

nav.nav_mobile p {
    font-size: 1.3rem;
}

@media screen and (min-width: 500px) {
    .nav_mobile > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav_mobile > ul > li {
        font-size: initial;
        margin: auto;
    }

    nav.nav_mobile h2 {
        text-align: center;
    }

    nav.nav_mobile p {
        font-size: initial;
    }
}

/* <!-- punto 4  --> */
.container-desktop_first {
    background-color: #8b8b8b;
}

.nav_desktop {
    padding: 12px;
}

.nav_desktop > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav_desktop > ul > li {
    margin: 12px;
    font-size: 1.2rem;
}

nav.nav_desktop h2 {
    text-align: center;
}

nav.nav_desktop p {
    font-size: 1.3rem;
}

nav.nav_desktop p::first-letter {
    font-size: 3rem;
    color: red;
}

@media screen and (max-width: 1200px) {
    .nav_desktop > ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
    .nav_desktop > ul > li {
        margin: 12px;
        font-size: 1rem;
    }

    nav.nav_desktop h2 {
        text-align: start;
    }

    nav.nav_desktop p {
        font-size: 1rem;
    }
}

/* <!-- punto 5  --> */

nav.menu_adaptativo ol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
nav.menu_adaptativo ol {
    width: 100%;
    display: flex;
    padding: 0;
}

@media screen and (min-width: 900px) {
    nav.menu_adaptativo ol {
        flex-direction: row;
        justify-content: center;
    }

    nav.menu_adaptativo li {
        margin: 20px;
        font-size: 1.3rem;
    }
}

/* <!-- punto 6  --> */

@media screen and (min-width: 768px) {
    .cambio-fuente-adaptativo {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 992px) {
    .cambio-fuente-adaptativo {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .cambio-fuente-adaptativo {
        font-size: 1.7rem;
    }
}
/* <!-- punto 7  --> */

.link-galeria {
    display: block;
    text-align: center;
    color: #ff1414;
    font-weight: bold;
    font-size: 2rem;
}

/* <!-- punto 8  --> */
.contenedor-tarjetas {
    margin: 20px auto;
}

.tarjeta-item {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.tarjeta-item img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
@media screen and (min-width: 768px) {
    .contenedor-tarjetas {
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }

    /* 2. LOS ITEMS definen su ancho */
    .tarjeta-item {
        width: calc(33.33% - 15px);

        margin-bottom: 0;
    }
}

/* <!-- punto 9  --> */

@media print {
    body {
        background-color: #fff !important;
        color: #000;
        font-family: "Times New Roman", Times, serif;
        font-size: 11px;
    }

    * {
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    /* Muestra la URL completa de los enlaces impresos para referencia (Ej: [Mi Enlace] (www.web.com)) */
    a[href]:after {
        content: " (" attr(href) ")";
        font-size: 90%;
        color: #555;
    }

    /* No muestra la URL si es un enlace a JavaScript o un ancla interna */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    /* Asegura que el contenedor principal ocupe todo el ancho de la página */
    .contenedor-principal {
        width: 100% !important;
        float: none !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    /* Si usas un diseño de columnas (como Flexbox o Grid), desactívalo para imprimir */
    .fila-columnas {
        display: block !important;
    }

    /* 5. FUENTES Y TAMAÑO */
    /* Las fuentes en la impresión deben ser legibles, típicamente en 'pt' (puntos) */
    body,
    p {
        font-size: 12pt;
        line-height: 1.4;
    }
}

/* <!-- punto 10  --> */

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #777777;
    color: #ddd;
    font-size: 1.3rem;
    padding: 6px;
}

.form_container form {
    display: flex;
    flex-direction: row;
    margin: 6px;
    gap: 4px;
}

div.campo-grupo button {
    background-color: inherit;
    color: inherit;
    font-weight: bold;
    font-size: 1.5rem;
}

@media screen and (max-width: 720px) {
    .form_container {
        min-height: 60dvh;
        margin: auto;
    }
    .form_container form {
        display: flex;
        margin: auto;
        width: 100%;
        flex-direction: column;
    }

    div.campo-grupo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.campo-grupo button {
        width: 200px;
        height: 50px;
        background-color: inherit;
        margin: 6px;
    }
}

/* <!-- punto 11  --> */

.container_rem_em {
    font-size: 51px;
}

@media screen and (max-width: 1200px) {
    .container_rem_em h2 {
        font-size: 1.7em;
    }
    .container_rem_em p {
        font-size: 1.9rem;
    }
}
@media screen and (max-width: 720px) {
    .container_rem_em h2 {
        font-size: 0.3em;
    }

    .container_rem_em p {
        font-size: 1.5rem;
    }
}

/* <!-- punto 12  --> */
div.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}
div.imagen div {
    width: 200px;
    height: 200px;
    background-image: url("../assets/winter-arc.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 720px) {
    div.imagen div {
        background-image: url("../assets/winter2.jpg");
    }
}